/**
 * @file
 * Subtheme specific CSS.
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900');

 :root {
	--blanco: #FFFFFF;
  --negro: #404041;
  --celeste: #6dcbdf;
  --naranja: #e68430;
  --naranja2: #ff583d;
  --naranja3: #ff595c;
  --naranja4: #EE7082;
  --verdeoscuro: #506a6a;
  --rosa: #e65c7a;
  --azul1: #0099d4;
  --azul2: #2f446e;
  --celeste:#3fabd5;
  --gris1: #f6f6f6;
  --gris2: #efefef;
  --gris3: #8d8d8d;
  --gris4: #ACB3B1;
  --gris5: #BFBFBF;
  --turquesa: #29abbd;
  --turquesa2:#00828c;
  --rojo: #f0474a;
}
img{
  max-width: 100%;
}

body{background: var(--fondo);}

a {color: var(--negro);}
a:hover {color: var(--gris3); text-decoration: none;}

.btn-primary {
    background-color: var(--gris2);
    border-color: var(--gris2);
    border-radius: 0;
}

.btn-primary:hover {
    background-color: var(--gris1);
    border-color: var(--gris1);
}

.navbar-toggler-icon {background: url(../img/menu-ico.svg) no-repeat center center; background-size: 32px;}

.path-frontpage h2, h2.page-title{ margin-bottom: 15px; font-size: 1.5em;}

h1, h2, .title h1, span.section, .item.title {font-family: 'Nunito', sans-serif; font-weight: 900;}
h2.page-title {color: var(--naranja); text-transform: uppercase;}

h3 {font-family: 'Nunito', sans-serif; font-size: 1.3em; color: var(--naranja);}
.body h3{margin: 20px 0 15px 0;}

.title-wrapper {background-color: var(--turquesa);}
table{margin-bottom: 25px;}

#block-gestion-page-title {width: 100%;}

.logo {display: block; text-align: center;}

.logo img {
max-width: 185px;
margin: 10px auto 0 auto;
}

.menu .nav{padding: 15px 0;}
.menu .nav .nav-link {color: var(--negro); text-transform: uppercase; font-size: 0.9em; padding: 1.2rem .4rem; font-family: 'Open Sans', sans-serif; width:175px; text-align:center;}
.menu .nav .nav-link:hover {background: var(--celeste); color: var(--blanco);}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: var(--blanco);
    text-align: left;
    list-style: none;
    background-color: var(--naranja2);
    background-clip: padding-box;
    border: none;
    border-radius: 0;
}

.dropdown-item a{text-transform: uppercase; color: var(--blanco); font-size: 0.9em; padding: 5px 10px;}
.dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active, .dropdown-item:active  {
    color: var(--blanco);
    text-decoration: none;
    background-color: var(--naranja);
}

.cont h3{font-size: 1.1em; color: var(--gris2);}

.share #atstbx{padding: 0 15px;}
.share .lbl {color: var(--negro); font-weight: bold; font-size: 0.7em;}

.content-wrapper {padding-top: 20px; padding-bottom: 20px; background-color: var(--blanco); margin-bottom: 20px;}
.breadcrumb {margin: 0; padding: 0 0 8px 0; font-size: 0.8em !important; border-radius: 0 !important; background: transparent;}
.breadcrumb li a {color: var(--blanco);}
.breadcrumb-item+.breadcrumb-item::before {color: var(--blanco);}
span.section {font-size: 0.9em; margin-bottom: 20px; color: var(--naranja); display: block;}
.photo img{border-radius: 50%;}
.image {margin-bottom: 20px;}

/*.slider {margin-bottom: 15px; background: url(../img/slide1-confondo.png) no-repeat bottom center; background-size: 110%;}*/

.slider-184 {margin-bottom: 0px; background: url(../img/slide1-confondo.png) no-repeat bottom center; background-size: 110%;}
.slider-204 {margin-bottom: 0px; background: url(../img/slide2-confondo.png) no-repeat bottom center; background-size: 110%;}
.slider-205 {margin-bottom: 0px; background: url(../img/slide3-confondo.png) no-repeat bottom center; background-size: 110%;}
.slider-206 {margin-bottom: 0px; background: url(../img/slide4-confondo.png) no-repeat bottom center; background-size: 110%;}
.slider-207 {margin-bottom: 0px; background: url(../img/slide5-confondo.png) no-repeat bottom center; background-size: 110%;}


.slider .owl-theme .owl-controls {position: absolute; width: 100%; bottom: 10px;}

.slider .owl-theme .owl-controls .owl-page span {background: var(--blanco);}

.slider-text{}
.slider-text .title{font-size: 1.3em; display: block; clear: both; margin-bottom: 5px; color: var(--blanco); font-weight: bold;}
.slider-text h2{font-size: 1.3em; display: block; clear: both; margin-bottom: 5px; color: var(--blanco); font-weight: bold;}
.slider-text p{font-size: 0.9em; color: var(--blanco);}
/*.img-slider {width: 90%;}*/

/*.blocks {margin-top: 40px; margin-bottom: 40px;}*/

.block-1 {padding-top: 40px;}
.block-1 h2, .block-2 h2 {font-family: 'Nunito', sans-serif; font-weight: 900; text-transform: uppercase;}
/*.block-1 h2 {color: var(--naranja);}*/
.block-1 h2{
  text-align: center;
  display: block;
  width: 100%;
  font-size: 2em;
}
.path-node .item.video {
margin-bottom: 35px;
}
.block-1 h2, .block-1 h3, .block-1 p {color: #fff;}
.block-2 h2 {color: var(--turquesa);}
.block-1 .wrapper, .block-2 .wrapper {margin-left: 10px; margin-right: 10px; border-radius: 10px;}
/*.block-1 .wrapper{background-color: var(--gris1); min-height: 330px; padding: 100px 40px 10px 40px; margin: 10px; font-size: 0.9em;}*/
.block-1 .wrapper{
  /*background-color: var(--naranja4);*/ 
  min-height: 364px; 
  padding: 120px 40px 10px 40px; 
  margin: 10px; 
  font-size: 0.9em;
  text-align: center;
}
/*.block-1 .wrapper:hover{color: var(--blanco); cursor: pointer;}*/
.block-1 .wrapper:hover{
  color: #000 !important; 
  cursor: pointer;
  background-color: var(--gris2);
}
.block-1 .wrapper:hover > p{
  color: #000 !important;
}
.block-2 .wrapper {padding: 20px;}
.block-2 .wrapper img, .caja-list .views-row img {border-radius: 10px; border-right: var(--gris4) 5px solid; border-bottom: var(--gris4) 5px solid;}
video[poster]{
height:100%;
width:100%;
}

.wrapper.familias{
  /*background-image: url(../img/multiplicar-icono-familias.png);*/
  background-image: url(../img/multiplicar-icono-familias-rollover.png);  
  background-color: var(--naranja4);
  background-repeat: no-repeat; 
  background-position: 49% 20%; 
  background-size: 35%; 
  transition: 
  background-color 0.5s ease;
}
.wrapper.agentes{
  /*background-image: url(../img/multiplicar-icono-agentes.png);*/
  background-image: url(../img/multiplicar-icono-agentes-rollover.png);
  background-color: var(--turquesa);  
  background-repeat: no-repeat; background-position: 49% 10%; 
  transition: 
  background-color 0.5s ease;
}
.wrapper.agentes span.sub{width: 100%; display: block; text-align: center; font-size: 1.2em; font-weight: bold;color: #fff;} 
.wrapper.conexion{
  /*background-image: url(../img/multiplicar-icono-conexion.png); */
  /*background-image: url(../img/multiplicar-icono-conexion-rollover.png);*/
  background-image: url(../img/e-compas_blanco.png);
  background-color: var(--azul1);
  background-repeat: no-repeat; 
  background-position: 50% 8%; 
  background-size: 35%; 
  transition: background-color 0.5s ease;
}

.wrapper.familias:hover{
  /*background-color: var(--naranja4); */
  /*background-color: #fff;*/ 
  color: #000;
  /*background-image: url(../img/multiplicar-icono-familias-rollover.png); */
background-image: url(../img/multiplicar-icono-familias.png);
  background-repeat: no-repeat; background-position: 49% 20%; 
  background-size: 35%; transition: background-color 0.5s ease;
}
.wrapper.agentes:hover{
  /*background-color: var(--naranja3); */
  /*background-color: #fff;*/
  /*color: #000;*/
  /*background-image: url(../img/multiplicar-icono-agentes-rollover.png); */
  background-image: url(../img/multiplicar-icono-agentes.png);
  background-repeat: no-repeat; 
  background-position: 49% 10%; 
  transition: background-color 0.5s ease;
}
/*.wrapper.agentes:hover span.sub{width: 100%; display: block; text-align: center; font-size: 1.2em; font-weight: bold; color: var(--blanco);} */
.wrapper.agentes:hover span.sub{width: 100%; display: block; text-align: center; font-size: 1.2em; font-weight: bold; color: #000;} 
.wrapper.conexion:hover{
  /*background-color: var(--azul1);*/
  /*background-color: #fff;*/
  /*color: #000;*/
 /*background-image: url(../img/multiplicar-icono-conexion-rollover.png); */
/*background-image: url(../img/multiplicar-icono-conexion.png);*/
background-image: url(../img/e-compas_color.png); 
 background-repeat: no-repeat; 
 background-position: 50% 8%; 
 background-size: 35%; 
 transition: background-color 0.5s ease;
}

.block-2 .wrapper .title{color: var(--turquesa);}

.caja {background: var(--gris2); padding-top: 30px; padding-bottom: 100px;}
.caja h2 {padding-left: 15px;}
.caja p {color: var(--verdeoscuro); font-size: 1.1em;}
.caja h3{font-family: 'Nunito', sans-serif; font-weight: 900;}
.caja .icon {max-width: 115px;}
.caja .title, .caja-list .title{color: var(--turquesa);}
.caja .more-link {text-align: center;}
/*.caja .more-link a {width: 111px; display: inline-block; background:var(--gris3) url(../img/arrow-n.svg) no-repeat 78px 11px; background-size: 12px; color: var(--blanco); padding: 3px 20px 3px 8px;}*/
.caja .more-link a {
    width: 225px;
    display: inline-block;
    background: #8d8d8d url(../img/arrow-n.svg) no-repeat 207px 10px;
    background-size: 12px;
    color: var(--blanco);
    padding: 3px 8px 3px 8px;
    text-align: center;
}
.caja .more-link a:hover {width: 208px; display: inline-block; background:var(--gris4) url(../img/arrow-n.svg) no-repeat 78px 11px; background-size: 12px; color: var(--blanco); padding: 3px 8px 3px 8px;}
.caja .views-row {margin-top: 30px;}
.caja-list .views-row, .blog-list .views-row, .medio-list.views-row {margin-bottom: 30px;}
.caja-list .title, .blog-list .title a, .medio-list .title{display: block; color: var(--turquesa);}

.caja .owl-theme .owl-controls .owl-page span{background: var(--naranja2);}

.blog-list .date, .medio-list .date{color: var(--naranja2); font-size: 0.9em; padding-bottom: 3px;}

a.download-file {background: var(--turquesa); color: var(--blanco); padding: 5px 8px; display: inline-block; margin-top: 20px;}
a.download-file:hover {background: var(--rosa); color: var(--blanco);}

.type {color: var(--naranja2); font-size: 0.9em; padding:5px 0 5px 35px; display: block; clear: both; font-style: italic;}
.type.t-27 {background: url(../img/herramientas-op1-icono-video.png) no-repeat left center;}
.type.t-30 {background: url(../img/herramientas-op2-icono-info.png) no-repeat left center;}
.type.t-19 {background: url(../img/herramientas-op3-icono-descargas.png) no-repeat left center;}

.tipos {text-align: center; margin-top: 30px; padding-top: 30px; border-top: var(--gris5) 1px solid;}
.tipos h3{text-align: left;}
.tipos .title a{text-transform: uppercase; color: var(--gris3); display: block; text-align: center; padding: 5px;}

.blog {background: url(../img/agentes-fondo.png) repeat; padding-top: 30px; padding-bottom: 30px;}
.blog .date, .content-wrapper.in .date{display: block; padding: 5px 0; color: var(--naranja2); font-size: 0.9em;}
.blog .tablet p{color: var(--azul2);}
.blog .tablet .item.title {font-size: 1.3em; margin-bottom: 10px;}
a.readmore {width: 95px; margin: 0 0 0 11%; display: inline-block; background:var(--celeste) url(../img/arrow-n.svg) no-repeat 78px 11px; background-size: 12px; color: var(--blanco); padding: 3px 20px 3px 8px;}
a.readmore:hover {width: 95px; margin: 0 0 0 11%; display: inline-block; background:var(--azul2) url(../img/arrow-n.svg) no-repeat 78px 11px; background-size: 12px; color: var(--blanco); padding: 3px 20px 3px 8px;}

.faqs .more {display: block; text-align: center;}
/*.faqs a.readmore{margin:25px 0;}*/
.faqs a.readmore {
    margin: 25px 0;
    width: 210px;
    background-position-x: 186px;
}

.mensaje #block-agentesementoresenaccion {background:url(../img/agentes-plasta-texto.png) no-repeat right top; background-size: 90%; min-height: 335px; padding: 10% 10% 10% 20%; color: var(--blanco);}
.mensaje #block-agentesementoresenaccion h2 {color: var(--blanco); text-transform: uppercase; font-size: 2em;}

.tablet .content {
  background: #fff;
  position: relative; 
  bottom: 0; 
  margin-top: 10%;
  /*background-size: 100%; 
  padding: 53px 155px 73px 73px;*/
}
.tablet .content .wrapper {padding: 15px;}
.tablet .content .wrapper .title a, .tablet .content .wrapper .title a:hover{color: var(--azul2);}

.metas {background: url(../img/metas-fondo.png) no-repeat; background-size: cover; min-height: 400px;}
.metas .wrapper {background-color: var(--blanco); border-radius: 10px; margin: 0 10px; padding: 65px 15px 15px; height: 400px;}
.metas .wrapper.m1{background-image: url(../img/metas-icono-agentes.png); background-repeat: no-repeat; background-position: 50% 5%;}
.metas .wrapper.m2{background-image: url(../img/metas-icono-familias.png); background-repeat: no-repeat; background-position: 50% 5%;}
.metas .wrapper.m3{background-image: url(../img/metas-icono-chicos.png); background-repeat: no-repeat; background-position: 50% 5%;}
.metas .circle {width: 200px; height: 200px; margin:20px auto; padding: 60px 0; display: block; font-family: 'Nunito', sans-serif; font-weight: 900; font-size: 3.5em; text-align: center; color: var(--azul2);}
.metas .circle.c1 {background: url(../img/metas-circulo-agentes.png) no-repeat center center; background-size: 100%;}
.metas .circle.c2 {background: url(../img/metas-circulo-familias.png) no-repeat center center; background-size: 100%;}
.metas .circle.c3 {background: url(../img/metas-circulo-chicos.png) no-repeat center center; background-size: 100%;}

.metas .laptop h2{color: var(--azul2); font-size: 2em;}
.metas .laptop p{color: var(--azul2); margin-bottom: 30px; font-family: 'Open Sans', sans-serif;}
.metas .laptop .subtitle {text-align: center; display: block; line-height: 110%;}
.metas .laptop hr{width: 50%; text-align: center; border-top:var(--azul1) 3px solid;}

/*.faqs {background-color: var(--gris2); background-image: url(../img/preguntas-personajes.png); background-repeat: no-repeat; background-size: 250px; background-position: 8%  70%; padding-top: 30px; padding-bottom: 30px; min-height: 600px;}*/
.faqs {background-color: var(--gris2); padding-top: 30px; padding-bottom: 30px;}
.faqs .faq {background-image: url(../img/comment-arrow.svg); background-repeat: no-repeat; background-position: bottom center; background-size: 100%; min-height: 385px; max-width: 650px; padding: 20px 20px 40px 20px;}
.faqs h2 {text-transform: uppercase; color: var(--azul2); font-size: 2em;}
.faqs p, .faqs li{color: var(--azul2); font-family: 'Open Sans', sans-serif;}

.faqs .panel-title a, .faq-list .panel-title a {color: var(--naranja); background: url(../img/arrow-left.svg) no-repeat left center; padding:5px 0 5px 20px; background-size: 12px; font-weight: bold; display: block; clear: both;}
.faqs .panel-title a.collapsed, .faq-list .panel-title a.collapsed {color: var(--naranja); background: url(../img/arrow-down.svg) no-repeat left center; padding: 5px 0 5px 20px; background-size: 12px; font-weight: bold;}
.faqs .panel-body, .faq-list .panel-body{padding: 10px 30px; font-size: 0.9em; display: inline-block; width: 100%;}
.faqs ol, .faq-list ol {list-style-type: lower-alpha;}

.register p a {display: flex; align-items: center; background-color: var(--gris2); border-radius: 8px; font-family: 'Nunito', sans-serif; font-weight: 900; color: var(--naranja2); font-size: 1.1em; padding: 15px; margin-top: 30px;}
.register p a:hover{background-color: var(--gris4);}
.register p img {width: 88px; vertical-align: baseline;}

.mailto {margin-top: 30px; border-top: var(--gris2) 1px solid; display: block; padding-top: 15px;}

blockquote {margin-left: 30px; margin-right: 30px; border-left: var(--turquesa2) 3px solid; padding-left: 10px;}

aside h3 {font-size: 1.3em; color: var(--naranja); margin-bottom: 20px; text-align: left;}
aside .item.date{font-size: 0.8em;}
aside .item.title{}
aside .is-active {display: none;}
aside .navbar-nav .nav-link {border-bottom: var(--fondo) 1px solid;}

aside .more-link{font-size: 0.8em; text-align: right; text-transform: uppercase;}

.aside-list .views-row{display: block; margin-bottom: 15px;}

.contact{background-color: var(--gris2); background-repeat: repeat-x; background-position: top; min-height: 400px; padding-top: 50px; padding-bottom:0;}
.mail-form .wrapper {padding: 0 20px;}
.mail-form h2, .mail-form p{ font-family: 'Nunito', sans-serif; font-weight: 900;}


.mail-form h2 {font-size: 1.6em; margin-bottom: 8px;}
.mail-form p {font-size: 1.1em; margin:0;}
.mail-form .form-group {margin-bottom: 0.6em;}
.mail-form #edit-submit {width: 100%; max-width: 240px; background: var(--turquesa) url(../img/contacto-unirse-icono.png) no-repeat; background-position: 155px 5px; background-size: 30px; color: var(--blanco); font-size: 1.2em; text-align: center; border:none; border-radius: 8px;}
.mail-form #edit-submit:hover {background: var(--turquesa2) url(../img/contacto-unirse-icono.png) no-repeat; background-position: 155px 5px; background-size: 30px;}

/*.figure {background: url(../img/contacto-personaje.png) no-repeat left 25%; background-size: 30%;}*/
/*.figure {background: url(../img/contacto-personaje.png) no-repeat left 39%; background-size: 40%;}*/

.apoyo{min-height: 300px; padding-top: 60px;}
.apoyo img {padding: 8px;}
.apoyo .subtitle {color: var(--azul2); font-size: 0.9em; margin-bottom: 15px;}
.apoyo .participacion{}

.region-footer-first h2{color: var(--rojo); text-transform: uppercase; font-size: 2em; margin-bottom: 35px;}
.region-footer-first p, .region-footer-first a{font-family: 'Open Sans', sans-serif; color: var(--rojo);}
.region-footer-first a{font-weight: bold;}
/*.region-footer-first p{padding-left: 75px; background: url(../img/contacto-icono.png) no-repeat left center;}*/
.region-footer-first p{padding-left: 67px; background: url(../img/contacto-icono.png) no-repeat left center;}

.logo-micitt {max-width: 145px;}

.site-footer{padding: 10px 0;}
.copy {display: block; text-align: center; color: var(--azul2); font-family: 'Open Sans', sans-serif;}
.carousel{
  width: 100% !important;
}

.region-front-2 {
    background-image: url(../img/plasta-fondo.png);
    background-size: 98%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    min-height: 341px;
    padding-top: 33px;
}

#para-aprender-a-multiplicar {
background-image: url(../img/patron-herramientas.png);
background-repeat: repeat;
background-position-x: 50%;
min-height: 695px;
padding-top: 33px;
}


#mce-EMAIL{
  width: 100%;
  height: 45px;
}
#mc-embedded-subscribe {
width: 100%;
/* max-width: 240px; */
background: #29abbd url(../img/contacto-unirse-icono.png) no-repeat;
background-position: 187px center;
background-size: 30px;
color: var(--blanco);
font-size: 1.2em;
text-align: center;
border: none;
border-radius: 8px;
margin-top: 20px;
height: 50px;
display: block;
}
#mc-embedded-subscribe:hover{
cursor: pointer;

background-color: #259aab;
}
button.btn-cp {
border: none;
background-color: transparent;
color: var(--azul2);
padding: 0;
}
button.btn-cp:hover {
text-decoration: underline;
cursor: pointer;
}
#cp-modal {
font-size: 0.8em;
}

#cp-modal .modal-body{
    padding: 2% 5% 5% 5%;
}
.modal-header{
    padding: 5% 5% 2% 5%;
}

#cp-modal .modal-header p{
    margin: 0;
    font-weight: bold;
}
#cp-modal .modal-header .close {
margin-top: -4%;
}

.page-item,.page-item a,.page-link {

color: var(--turquesa);
}

.blog-list nav{
max-width: 200px;
margin: auto;
}

.logosbottom {
  margin-top: 25px;
}
.box-agente {
  background-color: #DCF2FD;
  padding: 15px 0;
  min-height: 535px;
}
.box-agente:hover {
  background-color: #F2F2F2;
}
.box-agente:hover a,.box-agente:hover p,.box-agente:hover span.date{
  color:#808080;
}
.path-agentes-en-accion .content-wrapper {
  background-color: transparent;
}
.path-agentes-en-accion #main-wrapper{
  background: #29abbd url(../img/fondo-agentes.png) repeat-y;
}
.path-agentes-en-accion form#views-exposed-form-actualidad-page-2 {
  display: none;
}
.filter-ageacc-r{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
a.btn-empresa:before,a.btn-insti:before,a.btn-soci:before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
  background-position: center;
  margin: 0 auto;
  transition: 0.5s ease-in;
}

.filter-ageacc-l h2{
  font-weight: 700;
}
a.btn-empresa{
  color:#9F344D;
}
a.btn-insti{
  color:#00516A;
}
a.btn-soci{
  color:#2D6800;
}
a.btn-empresa:before{
  background-image: url(../img/icono-agentes-empresas.svg);
}
a.btn-empresa:hover:before{
  background-image: url(../img/icono-agentes-empresas-rollover.svg);
  background-color: #9F344D;
}
a.btn-insti:before{
  background-image: url(../img/icono-agentes-institucionP.svg);
}
a.btn-insti:hover:before{
  background-image: url(../img/icono-agentes-institucionP-rollover.svg);
  background-color: #00516A;
}
a.btn-soci:before{
  background-image: url(../img/icono-agentes-sociedadC.svg);
}
a.btn-soci:hover:before{
  background-image: url(../img/icono-agentes-sociedadC-rollover.svg);
  background-color: #2D6800;
}
.agentesenaccionbanner {
    background-image: url(../img/fondo-casos-patron.png);
    padding: 2em 0;
    margin-bottom: 2em;
}
.agentesenaccionbanner .box-row-agentedestacado {
  background-image: url(../img/forma-fondo-casos.png);
  background-size: 98%;
  min-height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
.box-row-agentedestacado span.title a {
  color: white;
  display: block;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 100%;
}
.box-row-agentedestacado span.date {
  color: #1B1464;
}
.box-row-agentedestacado{
  padding: 55px 4em;
}
.agentesenaccionbanner h3{
  color: white;
  text-transform: uppercase;
  margin: 0 0 15px 5em;
}
span.cat-ag {
  display: block;
  width: max-content;
  padding: 1px 10px 1px 45px;
  border-radius: 15px;
  margin: 0 0 5px 0;
  
  font-weight: bold;
}
span.cat-ag.cat31 {
  color:#9F344D;
  background: url(../img/icono-agentes-empresas.svg) no-repeat left center white;
  background-size: 30%;
  background-position-x: 7px;
}

span.cat-ag.cat32 {
  color:#00516A;
  background: url(../img/icono-agentes-institucionP.svg) no-repeat left center white;
  background-size: 18%;
  background-position-x: 7px;
}

span.cat-ag.cat33 {
  color:#2D6800;
  background: url(../img/icono-agentes-sociedadC.svg) no-repeat left center white;
  background-size: 22%;
  background-position-x: 7px;
}
a.btn-more-agent {
  background-color: #6DCBDF;
  color: white;
  padding: 5px 10px;
  transition: 0.5s ease-in;
}
a.btn-more-agent:hover {
  background-color: #358a9c;
}
.filter-ageacc-l p{
  margin: 0;
}
.owl-prev,.owl-next {
  font-size: 0px!important;
  background-color: transparent!important;
}
.node--type-actualidad #main-wrapper{
  background: #29abbd url(../img/fondo-historias.png) repeat-y;
}
.node-agenteenaccion .item.body {
  color: #29ABBD;
  font-style: italic;
  font-size: 1.1em;
}
.node-agenteenaccion .item.body:before {
  content: '';
  background-image: url(../img/Hdestacadas-comillas-inicio.png);
  display: inline-block;
  width: 45px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}
.node-agenteenaccion .item.body:after {
  content: '';
  background-image:url(../img/Hdestacadas-comillas-cierre.png);
  display: inline-block;
  width: 45px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 20px;
  top: 0;
}
.node-agenteenaccion .item.body p{
  padding: 0 55px;
}
.field_institucion > p,.field_lugar > p,.date>p,.field_tema>p{
  color:#603894;
  font-weight: bold;
  margin-bottom: 0;
}
.field_institucion,.field_lugar,.date,.field_tema{
  
  margin: 0 0 0 15px;
}
.item.field_institucion > p:before {
  content: '';
  background-image: url(../img/icono-video-institucion.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.item.date > p:before{
  content: '';
  background-image: url(../img/icono-video-lugar.svg);
    width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.item.field_tema > p:before{
  content: '';
  background-image: url(../img/icono-video-tema.svg);
    width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.item.field_lugar > p:before{
  content: '';
  background-image: url(../img/icono-video-lugar.svg);
    width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .slider-184,.slider-204,.slider-205,.slider-206,.slider-207{
    background-size: cover;
    min-height: 574px;
    padding: 5% 0;
  }
  img{
    display: block;
    margin:auto;
  }

  .title-wrapper .container.title > div{min-height: 90px; color: var(--blanco); padding-top: 15px; padding-bottom: 15px; margin-bottom: 20px;}
  .title-wrapper h1.title{font-size: 1.3em; text-transform: uppercase;}

  .apoyo a{
  width: 49%;
  display: inline-block;
  }

  .apoyo img {float: left; padding: 10px;}

  .tablet .content {padding-top: 15px; background: var(--blanco);}

  .share {
    width: 70px;
    position: fixed;
    right: 0;
    bottom: 10px;
    z-index: 100;
    background: var(--blanco);
    text-align: center;
    padding: 5px 0 5px 5px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: var(--gris4) 2px solid; border-bottom: var(--gris4) 2px solid;
  }

}
@media (max-width: 320px) {
  .mensaje #block-agentesementoresenaccion {
   background: transparent; 
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .title-wrapper .container.title > div{min-height: 90px; color: var(--blanco); width: 60%; padding-left: 8%; padding-top: 15px; padding-bottom: 15px; background-image: url(../img/rombos.svg); background-repeat: no-repeat; background-size: 10%; background-position: 0 10px; margin-bottom: 20px;}
  .title-wrapper h1.title{font-size: 2em; text-transform: uppercase;}

  .tablet .content {
  background: url(../img/agentes-tablet.png) no-repeat right top;
  position: relative; 
  width: 615px; 
  min-height: 630px; 
  bottom: 0; 
  background-size: 100%; 
  padding: 53px 155px 73px 73px;
  margin-top: 0%;
  }
  .faqs {background-image: url(../img/preguntas-personajes.png); background-repeat: no-repeat; background-size: 185px; background-position: 10%  70%; min-height: 600px;}
  .region-footer-first {padding: 45px;}
  .figure {background: url(../img/contacto-personaje.png) no-repeat left 39%; background-size: 40%;}

  .share {
    width: 70px;
    position: fixed;
    right: 0;
    z-index: 100;
    background: var(--blanco);
    text-align: center;
    padding: 5px 0 5px 5px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: var(--gris4) 2px solid; border-bottom: var(--gris4) 2px solid;
  }

} /*fin*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px)  {
  .owl-prev {
    background-image: url(../img/flecha-casos-izq.png)!important;
    width: 40px;
    height: 73px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    zoom: 0!important;
    padding: 0!important;
    margin: 0!important;
    position: absolute;
    top: 35%;
    left: -45px;
    opacity: 1!important;
  }
  .owl-next {
    background-image: url(../img/flecha-casos-der.png)!important;
    width: 40px;
    height: 73px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    zoom: 0!important;
    padding: 0!important;
    margin: 0!important;
    position: absolute;
    top: 35%;
    right: -45px;
    opacity: 1!important;
  }
  .filter-ageacc-l{
    background: url(../img/flecha-agentes.png) no-repeat right center;
    background-size: 8%;
  }
  .inibox, .box-d-logos-apoyo {
    border-left: 1px solid #b2b2b2;
    }
  
  .box-i-logos-apoyo {
    flex-wrap: nowrap;
    display: flex;
}
  .blocks {
margin-top: -100px;
/*margin-bottom: 40px;*/
}


}

@media (max-width: 991px) {


  #para-aprender-a-multiplicar .escudo {text-align: center;}
  .block-1 .wrapper {padding-top: 125px;}
  .mensaje {margin-bottom: 25px;}
  .mensaje #block-agentesementoresenaccion {min-height: 425px;}
  .faqs {background-position:2% 90%;}
  .metas {padding-top: 20px;}
  .metas .wrapper {margin-bottom: 20px;}
  .figure {background-position: left 47%;}
  .region-footer-first {background: var(--blanco); min-height: 275px; border-radius: 10px; padding: 20px; margin-bottom: 25px;}
  .mail-form h2, .mail-form p{color: var(--naranja2);}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  
  .slider-text{
    position: absolute;
    top: 54%;
    left: 0;
    height: 30%;
    width: 100%;
    margin: -37% 0 0 0;
  }

  .metas .laptop {background: url(../img/metas-mac.png) no-repeat bottom center; background-size: 1420px; min-height: 800px; margin-top: 30px; padding-top: 110px;}
  .contact{background-image: url(../img/contacto-fondo.png);}
  .mail-form h2, .mail-form p{color: var(--blanco);}
  .region-footer-first {background: url(../img/contacto-nube.png) no-repeat right top; min-height: 275px; background-size: 100%; padding: 20px;}

}

@media (min-width: 1280px){
  .slider-text{
    position: absolute;
    top: 68%;
    left: 0;
    height: 30%;
    width: 100%;
    margin: -37% 0 0 0;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {

.slider-184 {margin-bottom: 0px; background: url(../img/slide1-confondo.png) no-repeat bottom center; background-size: 145%;}
.slider-204 {margin-bottom: 0px; background: url(../img/slide2-confondo.png) no-repeat bottom center; background-size: 145%;}
.slider-205 {margin-bottom: 0px; background: url(../img/slide3-confondo.png) no-repeat bottom center; background-size: 145%;}
.slider-206 {margin-bottom: 0px; background: url(../img/slide4-confondo.png) no-repeat bottom center; background-size: 145%;}
.slider-207 {margin-bottom: 0px; background: url(../img/slide5-confondo.png) no-repeat bottom center; background-size: 145%;}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1280px) {
  .slider-184 {margin-bottom: 0px; background: url(../img/slide1-confondo.png) no-repeat bottom center; background-size: 110%;}
.slider-204 {margin-bottom: 0px; background: url(../img/slide2-confondo.png) no-repeat bottom center; background-size: 110%;}
.slider-205 {margin-bottom: 0px; background: url(../img/slide3-confondo.png) no-repeat bottom center; background-size: 110%;}
.slider-206 {margin-bottom: 0px; background: url(../img/slide4-confondo.png) no-repeat bottom center; background-size: 110%;}
.slider-207 {margin-bottom: 0px; background: url(../img/slide5-confondo.png) no-repeat bottom center; background-size: 110%;}
  
}
@media (min-width: 1600px) {
  .figure {
  background: url(../img/contacto-personaje.png) no-repeat 8% 36%;
  background-size: 40%;
  }
  .faqs {
    background-size: 220px; 
    background-position: 18% 70%;
  }

  .slider-text{
    position: absolute;
    top: 57%;
    left: 0;
    height: 30%;
    width: 100%;
    margin: -37% 0 0 0;
  
}
@media (min-width: 1920px) {
  .figure {
  background-size: 29%;
  }
  
}