/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 27, 2018, 3:46:53 PM
    Author     : Luis
*/

@import url("hover-min.css");

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light'), url(nunito-l.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(nunito-r.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(nunito-b.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


body,p,h1,h2,h3,h4,.h1,.h2,.h3,.h4,.close,button.close,div{
    font-family: 'Nunito', sans-serif;
}
.item-villain img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

#act_01p1 {
/*width: 80%;*/
margin: auto;
}

img{
    max-width: 100%;
}
img#vol-img {
margin: auto;
display: block;
width: 500px;
height: auto;
}

audio{ cursor: pointer; width: 100%; }
h3{ color: #77A449; font-family: 'Nunito', sans-serif; font-weight: bold; line-height: 1.2em; }
h4{ color: grey; }

#content{
    width: 100%;
    background-image: url(../img/patron_fondo.png);
    background-color: #29abbd;
    background-size: contain;
    background-repeat: no-repeat;
}
p.intro-label{
    font-size: 1.2em;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    display: block;
}

.text-blue{ color: #3B6593; }

.back-stars{ background-image: url(../img/internas/fondo-header1.png); }

.btn-start {
    background-image: url(../img/botones/btn_iniciar.png);
    background-color: transparent;
    background-size: 260px;
    display: block;
    width: 130px;
    height: 45px;
    background-position: 0 0;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1.3em;
    text-align: center;
    line-height: 45px;
    border: none;
    margin-bottom: 10px !important;
}
.btn-avanzar:hover{
    text-decoration: none;
    color: #fff;
    background-position: -230px
}
.btn-avanzar {
background-image: url(../img/botones/btn_avanzar.png);
background-color: transparent;
background-size: 460px;
display: block;
width: 230px;
height: 52px;
background-position: 0 0;
background-repeat: no-repeat;
font-family: 'Nunito', sans-serif;
font-weight: 700;
color: #FFFFFF;
font-size: 1.3em;
text-align: center;
line-height: 45px;
border: none;
margin: auto;
}

.bkcintrofinal{
    background-color: #005D92;
    color: #fff;
}
.bkcintrofinalbuena{
    background-color: #C5E8EB;
    

}
.bkcintrofinalbuena #eva_09p8{
    
    padding-bottom: 3rem;

}
.bkcintrofinalmala{

    background-color: #F7EBD2;
    

}
.bkcintrofinalmala #eva_09p7{
    
    padding-bottom: 3rem;

}
.page-9-eva .intro-header {
margin-bottom: 0;
}
.page-9-eva .mod {

padding-top: 2rem;
}
.bkcintrofinal h3,.bkcintrofinal p{
    
    color: #fff !important;
}

.btn-start:hover { background-position: -130px 0px; color: #fff;}
.conti-ini{
    position: relative !important;
}
.conti {
    background-image: url(../img/mod1/flecha-siguiente_activa.png);
    background-size: 100%;
    /*position: relative;*/
    position: absolute;
    right: 0;
    border: none;
    color: transparent;
    width: 65px;
    height: 65px;
    cursor: pointer;
    top: 37%;
    background-color: transparent;
}
.conti:hover {
    background-image: url(../img/mod1/flecha-siguiente_hover.png);
    /*background-color: transparent;*/
    /*color: transparent;*/
}
#act_01p2,#act_01p3,#act_01p4{
    position: relative;
}
.baki {
    background-image: url(../img/mod1/flecha-anterior_activa.png);
    background-size: 100%;
    /*position: relative;*/
    position: absolute;
    left: 0;
    border: none;
    color: transparent;
    width: 65px;
    height: 65px;
    cursor: pointer;
    top: 37%;
    background-color: transparent;
}

.btn-videos-actuemos{
    position: relative;
}

.baki:hover {
    background-image: url(../img/mod1/flecha-anterior_hover.png);
    /*background-color: transparent;*/
    /*color: transparent;*/
}
.ejem {
    background-color: #FA7820;
    border: navajowhite;
    color: #fff;
}

#map_container{
    width: 100%;
        max-width: 900px;
    margin: auto;
}

.gotoModulePage{margin: auto; display: inherit; margin-top: 10px;}
.mod{
    min-height: 570px;
    /*padding: 10px;*/
    position: relative;
}
.mod.intro{
    background: url(../img/mod1/1-07_act_general.jpg);
    background-size: 100%;
    background-position: 0px -45px;
    background-repeat: no-repeat;
}


/*.bx-wrapper {
    margin-bottom: 0px;
    height: 100%;
    box-shadow: none;
    border: none;
}*/
/*nav*/
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-align: center;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #912133;
    text-decoration: none;
}
.nav-sobre,.nav-recursos,.nav-iniciar{
    height:150px;
    font-family: 'open-sans', sans-serif;
    font-weight: 100;
    font-size:28px;
}
a.nav-sobre:before{
    content: '';
    background-image: url(../img/menu-item1.png);
    display: block;
    width: 63px;
    height: 63px;
    background-repeat: no-repeat;
    margin: auto;
}
a.nav-recursos:before{
    content: '';
    background-image: url(../img/menu-item2.png);
    display: block;
    width: 63px;
    height: 63px;
    background-repeat: no-repeat;
    margin: auto;
}
a.nav-iniciar:before{
    content: '';
    background-image: url(../img/menu-item3.png);
    display: block;
    width: 63px;
    height: 63px;
    background-repeat: no-repeat;
    margin: auto;
}

.nav-sobre{
    background: #EF404D;

}
.nav-recursos{
    background: #DD3B44;

}
.nav-iniciar{
    background: #D52130;

}
.modal-body {
    padding: 0rem 2rem;
}
.bx-wrapper .bx-prev {
    left: -37px;

}
/*#modal_1-03init p{color: #fff;}*/
.bx-wrapper .bx-next {
    right: -37px;

}
.item-villain img{
    margin:auto;
    display: block;
}
#sidebar .sidebar-header h3{
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    color: fff;
    text-align:center;
    text-transform: UPPERCASE;
    font-size:2em;
    border-bottom: 1px #FFF solid;

}

img[usemap]{
    width: 100%;
    margin: auto;
    display: block; 
}

/*.item-module{
    min-height: 60px;
    text-align: center;
    padding: 10px 0px;
}*/

span.div {display: block; text-align: center; margin: 20px 60px;}
span.div img {max-width: 310px;}

#encuesta .form-group{text-align: center;}

#encuesta .form-group input[type="radio"]{
   display:none;
}

#encuesta .form-group input[type="radio"] + label
{
    height: 72px;
    width: 72px;
    display:inline-block;
    padding: 0 0 0 0px;
    cursor:pointer;
    text-indent: -9999px;
    border-radius: 50%;
    border:#FFF 3px solid;
}

#encuesta .form-group input[type="radio"] + label:hover, #encuesta .form-group input[type="radio"]:checked + label 
{
    border-radius: 50%;
    border:#E5A62D 3px solid;
}

#encuesta .form-group input[type="radio"].s1 + label {background:url(../img/form-carita1.png) no-repeat center 0;}
#encuesta .form-group input[type="radio"].s2 + label {background:url(../img/form-carita2.png) no-repeat center center;}
#encuesta .form-group input[type="radio"].s3 + label {background:url(../img/form-carita3.png) no-repeat center center;}
#encuesta .form-group input[type="radio"].s4 + label {background:url(../img/form-carita4.png) no-repeat center center;}
#encuesta .form-group input[type="radio"].s5 + label {background:url(../img/form-carita5.png) no-repeat center center;}

.item-module img{
    width: 100%;
    max-width: 50px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.item-module.active{

}
.module.disabled .item-module.final{
    border: none;
    background: transparent;
    margin: 0px;
}

.item-module a {
color: #000;
display: block;
padding: 5px 15px;
font-size: 1.2em;
}
.module.disabled .item-module a{color: #888 !important; cursor: no-drop; text-decoration: none;}

.tab-content > .tab-pane img{
    max-width: 200px;
    display: block;
    margin: auto;
}
#mapster_wrap_0{
    margin:auto;

}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    transform: rotateY(0deg);
    color: #fff;
    font-size: 2em;
}

.flip-container.hover .front {
    transform: rotateY(90deg);
}

.front p{
    color: #fff;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    padding-top: 2em;
    color: #fff;
    font-size: 1.5em;
}

.flip-container.hover .back {
    transform: rotateY(180deg);
    backface-visibility: visible;
}
.flip-container ul li {
line-height: 26px;
}

.f-1,.b-1{
    background-color: #F65832;
    min-height: 293px;
}
.f-2,.b-2{
    background-color: #0072B7;
    min-height: 293px;
}
.f-3,.b-3{
    background-color: #86C656;
    min-height: 293px;
}


.img-small{
    width: 200px;
    margin: auto;
    display: block;

}

.list-unstyled-md li{ margin: 10px auto; padding-left: 15px; }
.img-md{
    max-width: 420px;
    margin: auto;
    display: block;
    width: 100%;
}
.modal-header {
    border: none;
    padding: 8px 15px;
}

/*.modal-header .close {
padding: 0px;
margin-top: -13px;
color: grey;
font-size: 3em;
font-weight: bolder;
/*font-family: initial;*/

/*.modal-content {

    background-color: rgba(255, 255, 255, 0.89);
    background-color: rgba(255, 255, 255, 0.89);
    border: none;
    border-radius: 0px;
    padding: 15px;
}*/
.bg-light{
    background-color: #ffffff !important;
}
.intro-header{
    /*background: #DC7930;*/
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-weight: bold;
    padding: 12px;
    font-size: 1.5em;
    text-align: center;
    /*box-shadow: inset 0 7px 9px -7px rgba(0,0,0,1);*/
}

.intro-header.orange{
    background: #DC7930;
}

.intro-header.blue{
    /*background: #2E8BB8;*/
}
.init-03{
    background-color: #f5f5f5;
    /*text-align: center;*/
    text-shadow: none;
}
#modal_1-03init .modal-content{
    background-color: #f5f5f5;
}
#modal_1-03init .close{
    opacity: 1;
    background-color: green;
    padding: 8px 20px;
    border-radius: 10px;
    text-shadow: none;
    color: #fff;
    margin: 10px auto;
    display: block;
    font-size: 1.2em;
}

#act_01p3 .img-md {
    max-width: 100%; 
    margin: auto;
    display: block;

}
p{
    font-family: 'Nunito', sans-serif;
    color: #5D5D5D;

}
.page-7-act p {
    background-color: rgba(23, 162, 184, 0.91);
    color: #fff;
    padding: 1% 10px;
    line-height: 16px;
    width: 70%;
    margin: auto;
}
.bx-wrapper {


    box-shadow: none;
    /* border: 5px solid #fff; */
    border: transparent;
    background: transparent;

}
.page-7-act button.btn{
    opacity: 1;
    background-color: green;
    padding: 8px 20px;
    border-radius: 10px;
    text-shadow: none;
    color: #fff;
    margin: 10px auto;
    display: block;
    font-size: 1.2em;
    border:none;
}
.page-02-inf .modal-content {
    border-radius: 0;
    padding: 2em 2em 3em 2em;
}
.page-02-inf .modal-content a{
    color: #000;
    font-weight: bold;

}
#prefooter p{
    position: relative;
}
.barra-progress {
    padding-top: 15px;
}
.barra-progress-img {
    background-image: url(../img/botones/barra-progreso1.svg);
    width: 320px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
        margin: 1% auto 2% auto;
    overflow: hidden;
    clear: both;
}
.barra-progress-img-2 {
    background-image: url(../img/botones/barra-progreso2.svg);
    width: 320px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
    clear: both;
}
.barra-progress-img-3 {
    background-image: url(../img/botones/barra-progreso3.svg);
    width: 320px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
    clear: both;
}
.barra-progress-img-4 {
    background-image: url(../img/botones/barra-progreso4.svg);
    width: 320px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
    clear: both;
}
.barra-progress-img-5 {
    background-image: url(../img/botones/barra-progreso5.svg);
    width: 320px;
    height: 17px;
    background-repeat: no-repeat;



    background-size: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
    clear: both;
}
img.select-img{
border: 1px solid rgba(128, 128, 128, 0.26);
border-radius: 5px;
background-color: rgba(128, 128, 128, 0.26);
padding: 5px;
}
a.icovolver:hover{
    color: #fff;
}
a.icovolver {
position: relative;
display: block;
/* background-color: #FA7820; */
background-color: #00B8BF;
font-size: 0.8em;
color: #fff;
padding: 10px 0 10px 30px;
border-radius: 10px;
/* line-height: 14px; */
/* z-index: 1; */
margin: auto;
width: 65%;
transition: all .2s ease-in-out;
}
a.icovolver:hover {
transform: scale(1.05);
}
a.icovolver:before {
content: '';
background-image: url(../img/icn-btn-volver.png);
display: inline-block;
width: 47px;
height: 30px;
/* margin: 9px 0 0 0; */
background-repeat: no-repeat;
position: absolute;
left: 20;
}

/*.hvr-icon:hover {
    -webkit-animation-name: hvr-icon-pulse-shrink;
    animation-name: hvr-icon-pulse-shrink;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}*/

p#info-p {
background-image: url(../img/icn-instrucciones.png);
padding: 1.2rem 4.1rem;
background-repeat: no-repeat;
background-position: 2% 35%;
text-align: center;
min-height: 70px;
margin-bottom: 1rem;
color: rgba(18, 125, 142, 1);
background-color: #E3F3F0;
}
.p-ins p#info-p {

background-position: 2% 8%;

}
.flip-container{
    cursor: pointer;
}
.prueba a{
    color: grey;
    font-size: 1.4em;
    font-weight: bold;
}
a.cerrarprueba:hover{
    text-decoration: none;
    color: #fff;
}
a.cerrarprueba {
float: right;
z-index: 1;
position: relative;
font-family: 'Nunito', sans-serif;
color: #fff;
}

p.btnNext {
background-image: url(../img/mod1/1-03_act_btn-ver-rojo.png);
background-repeat: no-repeat;
font-size: 0;
width: 228px;
height: 40px;
margin: 1rem auto;
}
p.btnPrev {
background-image: url(../img/mod1/1-03_act_btn-ver-verde.png);
background-repeat: no-repeat;
font-size: 0;
width: 228px;
height: 40px;
margin: 1rem auto;
}
.carousel img{
    margin:auto;
    display: block;
}
p.btnNext:hover,p.btnPrev:hover{
    background-position: 0px -40px;
    cursor: pointer;
}

#act_01 .col-3 img{
    cursor: pointer;
}
#act_01 .col-3:nth-child(1) .col-3-box{
    background-color: rgb(242,205,51);
}
#act_01 .col-3:nth-child(2) .col-3-box{
    background-color: rgb(153,44,82);
}
#act_01 .col-3:nth-child(3) .col-3-box{
    background-color: rgb(37,123,169);
}
#act_01 .col-3:nth-child(4) .col-3-box{
    background-color: rgb(81,199,170);
}

.prueba:nth-child(1){
    background-color: rgb(242,205,51);
    /*width: 100%;*/
/*flex: 100%;*/
/*max-width: 100%;*/
transition: 0.3s ease-in;
/*height: 434px;*/
}
.prueba:nth-child(2){
    background-color: rgb(153,44,82);
    /*width: 100%;*/
/*flex: 100%;*/
/*max-width: 100%;*/
transition: 0.3s ease-in;
/*height: 434px;*/
}
.prueba:nth-child(3){
    background-color: rgb(37,123,169);
    /*width: 100%;*/
/*flex: 100%;*/
/*max-width: 100%;*/
transition: 0.3s ease-in;
/*height: 434px;*/
}
.prueba:nth-child(4){
    background-color: rgb(81,199,170);
    /*width: 100%;*/
/*flex: 100%;*/
/*max-width: 100%;*/
transition: 0.3s ease-in;
/*height: 434px;*/
}
.d-none{
    transition: 1s;
}
.infobuena {
background-color: #5DA444;
color: #fff;
padding: 2rem 2rem 2rem 2rem;
border-radius: 2em;
position: relative;
}
.infomala {
background-color: #86272D;
color: #fff;
padding: 2rem 2rem 2rem 2rem;
border-radius: 2em;
position: relative;
}
.infobuena p,.infomala p{
color: #fff;
}
.col-3-3{
    width: 25%;
    float: left;
    padding: 0 15px;
}

.labellobueno {
background-color: green;
width: 160px;
text-transform: uppercase;
position: absolute;
left: 0;
top: 2rem;
display: none;
}
.labellomalo {
background-color: red;
width: 160px;
text-transform: uppercase;
position: absolute;
left: 0;
top: 2rem;
display: none;
}


.header-top .container,.recursos_aprender .container,.recu-page{
    background-color: #fff;
}

.recursos_aprender {
background-image: url(../img/audifonos_fondo.png);
background-color: #fff;
background-repeat: no-repeat;
background-size: 70%;
background-position-x: 50%;
min-height: 240px;
}
#modal_1-03init h2 {
color: #3b3b3b;
font-size: 1.6em;
text-align: center;
font-weight: bold;
}
#modal_1-03init h3{
color: #ec8a0f;
text-align: center;
font-weight: 900;
}
.img-registro {
margin: auto;
display: block;
width: 20%;
}
#modal_1-03init p{
    font-family: 'open-sans',sans-serif;
    font-weight: 300;
}
#modal_1-03init input {
overflow: visible;
width: 100%;
background-color: #fff;
}
#modal_1-03init .label {
font-size: 1.6em;
color: #6F6F70;
font-family: 'Nunito',sans-serif;
}
#modal_1-03init #demo {
color: #3b3b3b;
/*font-weight: bold;*/


}
#modal_1-03init button{
    cursor: pointer;
}


    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #000;
      color: #000;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #ff4f8c;
      margin-top: -1px;
      background-color: #ff4f8c;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 16px;
      -webkit-appearance: none;
      height: 25px;
      cursor: ew-resize;
      background: #d2cfcf;
      border:2px solid #fff;
      margin-top: -8px;
      /*box-shadow: -80px 0 0 80px #43e5f7;*/
    }


/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #ff4f8c; 
}
input[type="range"]::-moz-range-track {  
  background-color: #000;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #ff4f8c; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #000;
}

.btn-c {
background: url(../img/icono_unirse_cancelar.png);
background-repeat: no-repeat;
/* background-position-x: right; */
/*background-color: #00B8BF;*/
background-color: #6f6f70;
color: #fff;
border-radius: 5px;
text-transform: uppercase;
border: none;
background-position: right 13px bottom 12px;;
padding: 15px 50px 15px 15px;
}

.btn-c:hover{
    background-color: #4d4d4d;
}

.btn-r:hover{
    background-color: #00878c;
}

.btn-r {
background: url(../img/icono_unirse_enviar.png);
background-repeat: no-repeat;
/* background-position-x: right; */
background-color: #00B8BF;

color: #fff;
border-radius: 5px;
text-transform: uppercase;
border: none;
background-position: right 13px bottom 12px;;
padding: 15px 50px 15px 15px;
}
#subfooter{
    background: url(../img/fondo_patron_contacto.png);
    padding: 50px 25px;
    
}
.contact-nube{
background: url(../img/contacto-nube.png) no-repeat right top;
min-height: 275px;
background-size: contain;
/* padding: 35px !important; */
padding: 45px !important;

}
#prefooter {

padding: 50px 0;
}
section.container {
background-color: #fff;
padding-bottom: 25px;

}
.title-cx {
color: #404041;
font-size: 2em;
font-weight: 900;
padding: 15px 5px;
border-top: 1px solid rgba(0, 0, 0, 0.1);
text-align: center;
}


.btns-videos-abusos{
    display: flex;
    display: none!important;

}
.btns-videos-abusos p.intro-header{
    width: 400px!important;
    margin: auto!important;
}
.btns-videos-abusos p.intro-header a.icovolver  {
    width: 50%!important;
}


.subfooter-box{
    position: relative;
}
.contact-nube h2{
    color: #F0474A;
    font-weight: 900;
    text-transform: uppercase;
}
.contact-nube a{
    color: #F0474A;
}
.mailfo h2{
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
}
.mailfo p{
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}
#modal_1-07_act .modal-body {
background-image: url(../img/mod1/1-05_act_fondo-expediente.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 2rem 3rem;
font-family: 'PT Mono', monospace !important;
color: #1E214D;
}
#page-2-03 #act_01p1{
    background-color: #00B9D3;
}
.encuesta-modal {
position: relative;
right: 0;
top: 1%;
overflow: hidden;
    z-index: 111;
background-color: #F2F5F2;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
padding: 5px 15px;
transition: 0.2s;
border:none;
display: block;
margin: 10px auto;
}
.encuesta-modal:hover {
padding: 5px 20px 5px 20px;
background-color: #eaeaea;
transition: 0.2s;
cursor: pointer;
}

.encuesta-modal p{
    color: #A4A4A4;
    font-weight: bold;
    margin: 0;
line-height: 35px;

}
.encuesta-modal img {
width: 50px;
/* margin: auto; */
display: block;
padding: 0;
margin: 0;
height: 38px;
}
/* bootstrap.css:208
.modal_encuesta .modal-content{
height: 500px;
background-color: #F2F5F2;
} */
#page-2-05_act .bck-blue{
    background-color: #1C568F;
}
#page-2-05_act #act_01p1 p,#page-2-05_act #act_01p2 p.intro-label{
    color: #fff;
}
#page-2-05_act .title-cx{
    color: #404041;
}

/*#page-3-05 .main{
    background-color: #13708E;
}*/
.recursos_aprender h2{
    font-weight: 900;
}
.modal_encuesta #modal_encuesta{
    height: 300px;
}

.modal_encuesta .carousel-indicators li {
background-color: #aeaeae;
}
.modal_encuesta .carousel-indicators .active {
background-color: red !important;
}
.modal_encuesta .modal-content{
    padding:5%;
}
.modal_encuesta h3{
    color: #A4A4A4;
    /*font-family: 'open-sans',sans-serif;*/
    font-weight: 700;
}
#encuesta .form-test input[type="radio"]{
    display: none;

}
#encuesta .form-test input[type="radio"]:checked + label,#encuesta .form-test input[type="radio"] + label:hover {
/*width: 100px;*/

border: 6px solid #d2d2d2 !important;
}

#encuesta .form-test input[type="radio"].s1 + label, #encuesta .form-test input[type="radio"].s2 + label, #encuesta .form-test input[type="radio"].s3 + label{
    background-repeat: no-repeat;
text-align: center;
padding: 10px 40px 10px 10px;
font-size: 1.5em;
margin: 0 5px;
color: #fff;
border-radius: 15px;
border: 6px solid #fff;
background-position-y: center;
cursor: pointer;
width: 98%;
}
#encuesta .form-test input[type="radio"].s1 + label {
    background-image: url(../img/pregunta2_r1.png);
background-size: 15%;
background-position-x: 80%;
background-color: #E6473B;

}

#encuesta .form-test input[type="radio"].s2 + label {
    background-image: url(../img/pregunta2_r2.png);
background-size: 15%;
background-position-x: 95%;
background-color: #80BB44;
}
#encuesta .form-test input[type="radio"].s3 + label {
    background-image: url(../img/pregunta2_r3.png);
background-size: 15%;
background-position-x: 90%;
background-color: #2EB8C9;
}
.contact-nube p{
    color: #F0474A;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}
#logo-flotante {
display: block;
width: 100%;
overflow: hidden;
}
#logo-flotante img{
display: block;
width: 90%;
margin:auto;
margin-top: 10px;
}

#boxelo {
background-image: url(http://ementores.org/ecompa/img/fondo_header.png);
background-color: #fff;
background-size: contain;
height: 360px;
background-repeat: no-repeat;
background-position-y: bottom;
position: relative;
z-index: 1;
}
#logo-texto{
padding: 0px 15px;
}
#logo-texto p{
background-color: #F5F561;
padding: 15px;
    line-height: 25px;
}
.item-villain:hover{
    cursor: pointer;
}
#page-2-03 .img-intro img{  display: block; margin: auto; max-width: 1100px; width: 100%;}
#page-2-03 #act_01p6 .data-side{
padding-top: 50px;
}

.modal_encuesta textarea{
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 15px;
}
.modal_encuesta #submit:hover{
    cursor: pointer;
    background-color: #00878c;
}
.modal_encuesta #submit{
background: url(../img/icono_contacto_enviar.png);
background-repeat: no-repeat;
background-position-x: right;
background-color: #00B8BF;
color: #fff;
border-radius: 5px;
text-transform: uppercase;
border: none;
background-position: right 20px bottom 10px;
padding: 10px 70px 10px 15px;
}
.modal_encuesta #encuesta {
padding-top: 5px;
}
#warone,#wartwo,#wartree,#warfour{
    color: red;
}
.legfold .modal-body .close{
    /*color: #fff;*/
    color: grey;
    opacity: 1;
}

.modal-caras .modal-content {
background-color: rgba(33,111,117, 0.9019607843137255) !important;
border-radius: 0px;
border: none;
padding: 30px 60px;
}
.modal-caras .modal-body p{
    color: #fff;
}
.modal-caras .modal-body{
    color: #fff;
    background-color: transparent;
}
.addthis_inline_share_toolbox {
    /* padding: 95px 15px 5px 15px; */
    /* background-color: #fff; */
    /* margin: -105px 0 0px 0; */
    width: 200px;
    /* float: right !important; */
    display: block;
}
.addthis_inline_share_toolbox #atstbx {
    /*text-align: right;*/
    /* margin-right: 15px; */
    /*background-color: #fff;*/
    /*padding: 95px 15px 5px 0;*/
    /*margin: -105px 0 0px 0;*/
    /*border-bottom: 1px solid #d4d4d4;*/
}

.red-so p {
    width: 216px;
    /* float: right !important; */
    display: block;
    line-height: 40px;
    padding: 0 10px 0 0;
    font-weight: bold;
}
.red-so {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    position: relative;
    /* overflow: hidden; */
    /* clear: both; */
    padding: 100px 0 0 0;
    /* border-bottom: 1px solid; */
    margin: -105px 0 0 0;
}



div#barra {
    padding: 5px 15px;
    background-color: #fff;
}
.barrita {
    background-color: #d4d4d4;
    height: 1px;
}
#modal_1-03init input[type="radio"]{
    opacity: 0;
}

.modal-header .close {
padding: 0px;
margin-top: -13px;
color: grey;
font-size: 3em;
font-weight: bolder;
/* font-family: initial; */
font-family: 'Nunito', sans-serif;
cursor: pointer;
}

.legfold p,.legfold h2,.legfold h4,.legfold li{
font-family: 'PT Mono', monospace !important;
}
.text-modus {
border-top: 2px dashed rgb(217, 196, 169);
margin-top: 1rem;
padding-top: 1rem;
}

.front-page #modal_1-03init .modal-header{
padding: 3px 0;
}
button.close-m {
cursor: pointer;
border: none;
background-color: transparent;
color: #cecece;
float: right;
display: block;
position: relative;
font-size: 3em;
line-height: 33px;
}
.modal_encuesta .carousel-indicators {
position: relative!important;
margin-top: 30px!important;
}
.logosbottom {
    margin-top: 25px;
}
/*medias*/

@media (max-width: 576px) { 
    .item-module a {
    
    font-size: 1.3em !important;
    }
    #page-2-03 .message-case {
    
    font-size: 1.6em !important;
    
    }
    /*.baki,.conti {
    
    top: 34%;
    
    }*/
    .recursos_aprender h2 {
    text-align: center;
    }

#page-2-05_act #act_01p1 img,#page-3-05 .intro_2-06 img{
    width: 50%;
    display: block;
    margin: auto;
}

    #act_01p1 {
padding: 0 10px;
}
#page-2-03 #act_01p10 .baki {

top: 47%;

}
.form-test .d-flex,#page-3-05 .intro_2-06 .d-flex,#prefooter .d-flex.textpartido{
    display: block !important;
}

    .row.textpartido {
margin: 0;
padding-bottom: 25px;
}
.textparti{
    margin-top: 25px;
}
.textpartido .col-sm-2{
    padding:0;
}

.footerimg img{
    margin: 10px auto 0 auto;
    display: block;
}
img.footer-familia{
width: 50%;
display: block;
margin: -100px auto 25px auto;
}

#prefooter > .d-flex {

display: block !important;
}
} /*fin 576*/


@media (max-width: 576px) { 
    .box-i-logos-apoyo img {
        margin: auto;
        display: block;
    }
    .box-i-logos-apoyo {
        display: flex;
        flex-wrap: wrap;
    }
    .box-i-logos-apoyo a {
        width: 50%;
    }
    /* new */

    img#vol-img{
    
    width: 100% !important;
    }
    .footer-div-copyright {
    padding: 10px !important;
    }
    #page-2-03 #act_01p1.mod {
        min-height: 344px;
    }
    .finaltext {
        padding: 3rem 1rem 1rem 1rem !important;
    }
    .ciber-emo .mod {
        min-height: 800px;
    }
    .ciber-emo .conti, .ciber-emo .baki {
        bottom: 1%;
        top: initial;
    }
} /*fin 576*/
@media (min-width: 576px) { 
    .header-top {
        min-height: 180px;
    }

} /*fin 576*/


@media (min-width: 768px) { 
    .imgsubfo img {
        position: absolute;
        top: 40px;
    }
    .box-i-logos-apoyo {
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-between;
    }
    .inibox, .box-d-logos-apoyo {
        border-left: 1px solid #b2b2b2;
    }
    .modal_encuesta textarea{
    width: 50%;
    
    }
    .contact-nube p {
    
    font-size: 1.3em;
    }
    .red-bo {
    overflow: hidden;
    width: 430px;
    display: inline-flex;
    float: right;
}
    #page-2-05_act #act_01p1 img{
    width: 50%;
    display: block;
    margin: auto;
}
#page-2-05_act #act_01p1{
    padding:2% 0;
}
    /*#page-2-03 .img-intro img{ width: 50%;}*/
    .title-cx {

padding: 25px;

}



    section.container {
background-color: #fff;
padding: 180px 15px 15px 15px;
margin-top: -180px;
min-height: 705px;
}
a.icovolver {
width: 20%;
}

.btn-videos-actuemos a.icovolver{
    width: 50%;
}

    #encuesta .form-test input[type="radio"].s1 + label {
    background-image: url(../img/pregunta2_r1.png);
background-size: 20%;


}

#encuesta .form-test input[type="radio"].s2 + label {
    background-image: url(../img/pregunta2_r2.png);
background-size: 20%;


}
#encuesta .form-test input[type="radio"].s3 + label {
    background-image: url(../img/pregunta2_r3.png);
background-size: 20%;


}
/*    .contact-nube{

background-size: cover;

}*/
    #subfooter{
    padding: 50px 0px;
    
}
    .recursos_aprender {
min-height: 291px;
}
    #boxelo{
    background-image: none;
    background-color: transparent;
    height: auto;
    z-index: 13;
}
    #logo-flotante img {

width: 100%;
padding: 0;
}
.header-top {
        max-width: 100%;
        background-image: url(../img/fondo_header.png);
        min-height: 560px;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        z-index: 11;
}
    .encuesta-modal {
    position: fixed;
    right: 0;
    top: 10%;
    overflow: hidden;
    z-index: 111;
    background-color: #F2F5F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 5px 15px;
    transition: 0.2s;
    border: none;
    }
    .modal_encuesta #encuesta {
    padding-top: 25px;
    }
}/*fin 768*/

@media (min-width: 992px) {
.recursos_aprender {
    background-image: url(../img/audifono_recursos_con_fondo.png);
    height: 310px;
    padding-top: 40px;
    background-position-y: 5px;
    /* margin-top: 10px; */
}
#logo-flotante {
position: absolute;
z-index: 111;
margin-left: auto;
right: 7%;
left: 0;
margin-right: auto;
width: 400px;
top: 18px;
}
#logo-texto {
position: absolute;
z-index: 111;
margin-left: auto;
right: 0;
left: 30%;
margin-right: auto;
width: 360px;
top: 250px;
background-color: #F5F561;
padding: 33px;
font-size: 1.4em;
}

.box-iniciativa {
border-left: 1px solid #b9b9b9;
padding-left: 20px;
}


}/*fin 992*/


@media (min-width: 1200px) { 
    /*.subfooter-box img {
        position: absolute;
        left: 5%;
        width: 17%;
        top: 25%;
    }*/
    #subfooter{
    /* height: 430px; */
    height: 355px;
    }
    .footer-familia {
    margin-top: -135px;
    }
    #prefooter {
        height: 330px;
    }
}/*fin 1200*/

@media (min-width: 1600px) { 
    .header-top {
        min-height: 700px;

    }
    /*.subfooter-box img {
    position: absolute;
    left: 7%;
    top: 25%;
    width: 17%;
    }*/
    #subfooter{
    
    height: 530px;
    }
    .footer-familia {
    margin-top: -155px;
    }
    .red-so {
   
    padding: 130px 0 0 0;
    
    }
    
}/*fin 1600*/
