.item-module{
  position: relative;
}
#mnsry_container .group1 .item-module:before {
content: '';
background-image: url(../img/icono_recurso_interactivo.png);
width: 29px;
height: 42px;
/* padding: 13px; */
background-size: 100%;
background-repeat: no-repeat;
position: absolute;
left: 10px;
top: 10px;
}
#mnsry_container .group1 .item-module:hover:before{
background-image: url(../img/icono_recurso_interactivo_rollover.png);
}
#mnsry_container .group2 .item-module:before {
content: '';
background-image: url(../img/icono_recurso_video.png);
width: 40px;
height: 42px;
/* padding: 13px; */
background-size: 100%;
background-repeat: no-repeat;
position: absolute;
left: 10px;
top: 10px;
}
#mnsry_container .group2 .item-module:hover:before{
background-image: url(../img/icono_recurso_video_rollover.png);
}
#mnsry_container .group3 .item-module:before {
content: '';
background-image: url(../img/icono_recurso_infografia_rp.png);
width: 40px;
height: 42px;
/* padding: 13px; */
background-size: 100%;
background-repeat: no-repeat;
position: absolute;
left: 10px;
top: 10px;
}
#mnsry_container .group3 .item-module:hover:before{
  background-image: url(../img/icono_recurso_infografia_rollover_rp.png);
}
.recu-page-box {
margin-bottom: 2%;
}
.mnsry_container_box{
padding: 25px 15px;
background-color: #ededed;
}
#mnsry_container{
  color: #ccc;
  text-decoration: none;
  /*background-color: #ccc;*/
}

#mnsry_container a:visited {
  
  color: #31BE86;
}
#mnsry_container a:visited:before {
  
  content: 'before';
}
#mnsry_container a:hover {
  color: #aaa;
}
.button-area{
  text-align: center;
}
.button-area .button {
  display: inline-block;
  padding: 10px;
  margin: 10px 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #7a91b2;
  color: #fff;
  
}
.button-area .button:hover {
  background-color: #e6473b;
}
.button-area .button.active {
  background-color: #e6473b;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) inset;
}
.button-area input[type="checkbox"] {
  display: none;
}

#mnsry_container {
  position: relative;
}
#mnsry_container:hover img {
  opacity: 0.28;
}
#mnsry_container article {
  width: 33.3%;
  /*width: 25%;*/
  min-height: 200px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  padding: 20px;
}
#mnsry_container .item-module:hover, #mnsry_container .item-module:hover a{ 
  background-color: #82d4df;
  color: #fff;
}
#mnsry_container article h1 {
  position: absolute;
  top: 46%;
  left: 0;
  width: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: all 1.2s;
  z-index: 1;
}
#mnsry_container article img {
  display: block;
  width: 100%;
  transition: all 0.8s;
}
#mnsry_container article:hover h1 {
  transform: translate3d(0, 18px, 0) scale(1.2, 0.4);
  opacity: 0;
}
#mnsry_container article:hover img {
  opacity: 1;
  transform: scale(1.04);
}

#loading_msg {
  position: fixed;
  top: 48%;
  width: 100%;
  z-index: -1;
}

.boxencuesta{
    color:green;
    background-color:#eee;
    border:2px solid #333;
    display:none;
    text-align:justify;
}

#btne {
position: fixed;
right: 0;
top: 30%;
background-color: #fff;
padding: 1%;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
min-height: 90px;
}


@media (max-width: 860px) {
  #mnsry_container article {
    width: 50%;
    min-height: 150px;
  }
}
@media (max-width: 667px) {
  #mnsry_container article {
    width: 100%;
    min-height: 220px;
  }
}


@media (min-width: 576px) {  




} /*fin*/


@media (min-width: 768px) {  
.button-area .button {

  margin: 30px 5px;

  
}



} /*fin*/


@media (min-width: 992px) {  




} /*fin*/


@media (min-width: 1200px) {  




} /*fin*/
