@font-face {
  font-family: "Nunito";
  src: url("Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 800;
  src: url("Nunito-Bold.ttf") format("truetype");
}
p {
  font-family: "Nunito", sans-serif;
  color: #5d5d5d;
}
body,
p,
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.close,
button.close,
div {
  font-family: "Nunito", sans-serif;

  /* height: 100vh; */
}
#subfooter {
    background: url(../img/fondo_patron_contacto_rp.png);
    padding: 1em 0 0 0;
    margin: 3em 0 0 0px;
}
.contact-nube {
  background: url(../img/contacto-nube.png) no-repeat right top;
  min-height: 346px !important;
  background-size: contain;
  padding: 30px !important;
  line-height: 22px;
}
#content {
  width: 100%;
  background-image: url(../img/patron_fondo.png);
  background-color: #29abbd;
  background-size: contain;
  background-repeat: no-repeat;
}
#eva_09p0 {
  background-image: url("./../img/reto/reto-back.png");

  padding: 4em 0;

}
.cont.row {
  display: flex;
  justify-content: center;
}
.img-home {
  display: block;
  margin: auto;
}
.controwbox {
  /* width: 85%; */
  margin: 20px auto;
  /* background-image: url(./../img/reto/reto-band.png); */
  background-repeat: no-repeat;
  background-size: 100%;
  /* padding: 30px; */
}
a.gotoModulePage.btn-start {
  background-color: #7fc34a;
  color: white;
  padding: 2px;
  border-radius: 15px;
  display: block;
  margin: auto;
  width: 110px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  transition: 0.2s;
}
a.gotoModulePage.btn-start:hover {
  text-decoration: none;
  background-color: #69a03e;
  box-shadow: 3px 3px rgb(0 0 0 / 12%);
}
h3.intro-paragrah {
  color: #3c6280;
  background: white;
}
#eva_result_negative .btns-answ {
  display: flex;
  justify-content: space-between;
}
#eva_result_negative .controwbox,
#eva_result_positive .controwbox {
  background-image: none;
}
img {
  max-width: 100%;
}
h3.intro-paragrah-result {
  color: rgb(0, 128, 132);
  text-align: center;
}
#eva_result_negative p,
#eva_result_positive p {
  color: #3c6280;
  text-align: center;
}

p.label-info {
  color: #249ba8;
  margin: 0 0 5px 0;
  background-image: url(../img/reto/reto-arrow.svg);
  background-repeat: no-repeat;
  padding: 0 20px;
  background-size: 15px;
  background-position: 3px 5px;
}
.mod {
  background-image: url("./../img/reto/feedback1-bck-above.png");
  /* height: 100vh; */
  padding: 4em 0;
  background-color: white;
}
input.btn-false {
}
.img-box-quest {
  position: relative;
  margin-bottom: 20px;
}
.img-box-quest img {
  display: block;
  margin: auto;
  max-width: 100%;
}
.num-slide {
  position: absolute;
  left: 49%;
  bottom: 0px;
  padding: 0 5px;
  background-color: white;
  font-size: 1.2em;
  color: #cecece;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h2 {
  color: #249ba8;
  font-weight: 800;
}
.container-box {
  max-width: 612px;
  margin: auto;
  text-align: center;
}
/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: 2px solid #f00;
}

.btns-answ {
  display: flex;
  justify-content: space-around;
}
.btns-answ img {
  transition: 0.2s;
  opacity: 0.8;
}
.btns-answ img:hover {
  opacity: 1;
}
.ques-title {
  font-size: 1.3em;
  color: #3c6280;
  line-height: 20px;
  min-height: 64px;
  margin: 0;
}
.label-instruction {
  color: #249ba8;
  position: relative;
  line-height: 50px;
  font-size: 1.2em;
}
.label-instruction::before {
  content: "";
  background-image: url(../img/reto/question-arrow-left.svg);
  position: absolute;
  width: 30px;
  height: 20px;
  left: -36px;
  top: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.label-instruction::after {
  content: "";
  background-image: url("../img/reto/question-arrow-right.svg");
  position: absolute;
  width: 30px;
  height: 20px;
  right: -36px;
  top: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
button {
  border: none;
  background: transparent;
}
a,
button {
  cursor: pointer;
}
a.btn-xcap {
  margin: 35px auto;
  display: block;
  text-align: center;
}

#logo-texto {
  padding: 0px 15px;
  background: white;
}
#logo-texto p {
  background: transparent;
}
.contact-nube p {
    color: #F0474A;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}
.boxcontacto_rp p {
    margin: 0;
}
span.txt-ul {
    font-weight: bold;
    position: relative;
}
.contact-nube h2 {
    color: #F0474A;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}
.contact-nube a {
    color: #F0474A;
}

.boxcontacto_rp p span.txt-ul:before {
    content: '•';
    position: absolute;
    left: -15px;
}
#prefooter {
    background-color: #EAEDED;
    /* margin-top: 2%; */
}
.res-insti-rp {
    display: flex;
    align-items: center;
}
.res-insti-rp a {
    width: 34%;
    margin: 0 6px;
}
.footer-bg-3 {
    background-color: #fff;
}
.footer-div-copyright {
    padding-bottom: 1%;
    padding-top: 1%;
    min-height: 30px;
    font-size: 0.8em;
}
@media (max-width: 575px) {
    h3.intro-paragrah {
        color: #3c6280;
        background: white;
        padding: 10px;
        border-radius: 10px;
    }
  }
@media (min-width: 576px) {
  .header-top {
    min-height: 180px;
  }
}


@media (min-width: 768px) {
  .contact-nube p {
    font-size: 1.1em;
  }
}
  @media (min-width: 992px) {
    .controwbox {
        width: 85%;
        background-image: url(./../img/reto/reto-band.png);
        padding: 30px;
    }
       
    #prefooter {
        padding: 5em 0;
    }
    #logo-texto {
      position: absolute;
      z-index: 111;
      margin-left: auto;
      right: 0;
      left: 40%;
      margin-right: auto;
      width: 345px;
      top: 250px;
      background-color: #f5f561;
      padding: 10px;
      font-size: 1.4em;
    }
  
  .header-top {
    max-width: 100%;
    background-image: url(../img/fondo_header_rp.png);
    min-height: 560px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 11;
  }
  .footer-div-copyright {
    font-size: 1em;
}
}
@media (min-width: 1600px) {
  .header-top {
    min-height: 700px;
  }
}
