<div class="content-wrapper">
	<div class="col">
		<div class="row">
			<div class="col-md-8 cont">
			{% if content.field_image|render %}
				<div class="image">
					<img src="{{content.field_image|field_value}}" class="img-fluid">
				</div>
			{% endif %}
			{% if content.body|render %}
			<div class="item body">
				{{content.body|field_value}}
			</div>
			{% endif %}
			</div>
			<aside class="offset-md-1 col-md-3">
				<h3 class="block-title">Información general</h3>
				{{ drupal_region('sidebar_second') }}
			</aside>
		</div>
	</div>
</div>